## Ignore all latex processing files
auto
*.aux
*.log
*.out
*.nav
*.snm
*.toc
*.vrb
## Ignore emacs backup files
*~
## Ignore some other stuff
.Rproj.user
300958-social_web_analytics.Rproj
.DS_Store
.Rhistory
## Knitr images
figure
BRYdxNaCMAEz3oT.png
cache/
